.formulario {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 80%;
}

.formulario h3 {
    font-size: 36px;
    font-weight: 500;
    border-width: .1rem 0 .1rem 0; 
    border-style: solid;
    border-color: #262626;
}

.formulario input, .formulario select, .formulario textarea {
    width: 40%;
    border: .1rem solid #262626;
    background-color: transparent;
}

.formulario .botao {
    width: 180px;
    height: 50px;
    text-transform: uppercase;
    background-color: transparent;
    border: .1rem solid var(--azul);
    border-radius: 1rem;
    color: var(--cinza-claro);
    cursor: pointer;
}

.formulario .botao:nth-child(2) {
    border-color: var(--cinza-claro);
}
