.formulario {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 80%;
}

.formulario h3 {
    font-size: 36px;
    font-weight: 500;
    border-width: .1rem 0 .1rem 0; 
    border-style: solid;
    padding: .5rem 0;
    border-color: #262626;
}

.formulario .container {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}