.container {
    width: 432px;
    display: flex;
    flex-flow: column wrap;
}

.container .capa {
    width: 100%;
}

.container div {
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 0 1rem 1rem;
    padding: .7rem;
    align-items: center;
    background-color: var(--cinza-escuro);
}

.container div button {
    color: var(--cinza-claro);
    cursor: pointer;
    font-weight: 600;
    border-style: none;
    text-decoration: none;
    background-color: transparent;
    text-transform: uppercase;
}

.container div button img {
    padding-right: 1rem;
    vertical-align: middle;
}