.container {
    padding: 1rem 2rem;
}

.container h2 {
    color: var(--cinza-claro);
    text-transform: uppercase;
    width: 432px;
    height: 70px;
    font-size: 32px;
    text-align: center;
    border-radius: .5rem;
    align-content: center;
}

.containerCards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card {
    flex: 1 1 calc(25% - 1rem);
    max-width: 300px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
