* {
  box-sizing: border-box;
}

:root {
  --azul: #2271D1;
  --azul-claro: #6BD1FF;
  --cinza: #262626;
  --cinza-escuro: rgba(0, 0, 0, 90%);
  --branco: #FFFFFF;
  --cinza-claro: #F5F5F5;
}

body {
  background-color: var(--cinza-escuro);
  margin: 0;
  font-family: "Source Sans 3", sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
