:root {
  --azul: #2271D1;
  --cinza-escuro: rgba(0, 0, 0, 90%);
}

body {
  background-color: rgba(0, 0, 0, 90%);
  margin: 0;
  font-family: "Source Sans 3", sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
