.capa {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.capa::before  {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    opacity: 0.6;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    padding: 10rem 2rem 4rem 2rem;
    display: flex;
}

.content {
    margin-right: 2rem;
    color: var(--cinza-claro);
    position: relative;
    z-index: 1;
    max-width: 665px;
}

.content h2 {
    border-radius: .5rem;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
}

.content h3{
    font-size: 46px;
    font-weight: 400;
}

.content p {
    font-size: 18px;
    font-weight: 300;
}

iframe {
    margin-top: 1rem;
}