.link {
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: none;
    border: 2px solid var(--cinza-claro);
    color: var(--cinza-claro);
    font-size: 20px;
    font-weight: 700;
    margin-left: 3rem;
    border-radius: 10px;
    padding: .7rem 3rem;
}

.linkDestacado {
    background-color: var(--cinza-escuro);
    color: var(--azul);
    border-color: var(--azul);
    box-shadow: inset 0px 0px 10px 2px var(--azul);
}